.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.MuiTableCell-root.MuiTableCell-body.increased {
  transition: all 0.3s ease-out;
  font-weight: bold;
  color: white;
  background-color: green;
}

.MuiTableCell-root.MuiTableCell-body.decreased {
  transition: all 0.3s ease-out;
  font-weight: bold;
  color: white;
  background-color: red;
}

.MuiTableCell-root.MuiTableCell-body.unchanged {
  transition: all 0.3s ease-out;
  font-weight: normal;
  color: black;
  background-color: transparent;
}
.MuiTableCell-root.MuiTableCell-body > a {
  color: inherit!important;
  text-decoration: none;
  cursor: pointer;
}
